.custom-select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    box-sizing: border-box;
  }
  
  .custom-select option {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
  }
  
  .custom-select option:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .custom-select::placeholder {
    color: #000;
  }


  .home-container {
    text-align: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 24px;
    color: #333;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  button:hover {
    background-color: #45a049;
  }