<p>homepage works!</p>
<!-- 
<label for="country">Select a country:</label>
<input list="countries" id="country" name="country" placeholder="Start typing..." [(ngModel)]="selectedCountry">
<datalist id="countries">
  <option value="India">India</option>
  <option value="United States">United States</option>
  <option value="United Kingdom">United Kingdom</option>
   
</datalist>
<button type="submit" class="btn btn-primary" (click)="onSubmit()">check</button>
-->

<div class="home-container">
  <h1>Welcome to GoToQuote</h1>
  <button (click)="goToCreateQuote()">Create Quote</button>
  <button (click)="goToViewQuote()">View Quote</button>
</div>
